.heading{
    width: 100%;
    height: 28vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:-8px;

}

#line1{
    font-size: 2.5vw;
    font-weight:bolder; 
    font-style: bold;
}
#line2{
    font-size: 1vw;
    letter-spacing: 2px;
}
#line3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.design{
    width:5.5vw;
    border:1px solid black;
    background-color: black;
}
.pinkbox{
    width:3vw;
    height: .8vw;
    border-radius: 3px;
    background-color: #ff5823;
}