.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid black 1px;
    width: 400px;
    height: 30px;
}
.circle{
    height: 100%;
    width:30px;
    border-radius: 20px;
    background-color: darkslateblue;
    margin-right: 3px;
}
.skillname{
    color:darkslateblue;
    width: 100px;
}
.capacity{
    background-color: darkslateblue;
    width:200px;
}
