.offerBox{
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offerBox img{
    margin: 20px;
    height: 16vw;
    transition: 1s all;
}
.offerBox img:hover{
    box-shadow: rgba(0, 0, 0, 0.575) 5px 5px 20px;
    transform: translateY(-2px);
}