.preheader{
    width: 100vw;
    height: 3vw;
    background-color: rgba(0, 0, 0, 0.849);
    color:rgba(255, 255, 255, 0.555);
    display: grid;
    grid-template-columns: .6fr 3fr 2fr 2fr;
    font-size: .8vw;
    justify-content: space-between;
    align-items: center;
}
.part1{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.part3{
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.part1Menu:hover{
    color:white;
}
#downarrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
#downarrow img{
    fill:rgba(255, 255, 255, 0.555);
}