.preheader{
    width: 100vw;
    height: 3vw;
    background-color: rgba(197, 22, 22, 0.849);
    color:white;
    display: grid;
    grid-template-columns: .6fr 3fr 2fr 2fr;
    font-size: .8vw;
    justify-content: space-between;
    align-items: center;
}
.part1{
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.part3{
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr 1fr 4fr 1fr 4fr 1fr;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.part1Menu:hover{
    color:white;
}
#downarrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.preheader img{
    width: 1.5vw;
    height: 1.5vw;
   
}
